/*CSS STYLESHEET FOR ALL THE GENERAL INFORMATION THAT APPEAR ON EVERY PAGE*/

/*SCREEN SIZE W=1920, H=1080*/

/* COLORS AND FONTS */
* {
    --darkblue: #0C2339;
    --darkgray: #2C2C2C;
    --gray: #878787;
    --white: #F0F0F0;
    --black: #000000;
    --pink: #D1817B;
    --gray: #D9D9D9;
    font-family: 'Comfortaa', sans-serif;
    font-family: 'Handjet', sans-serif;

  
/*PAGE FORMATING*/
    padding-top: 15px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0px;
  }
  
/*FONT APPLIED TO SPECIFIC ELEMENTS*/
/*DESCRIPTION TEXTS*/
    .intro-text {
    font-family: 'Comfortaa', sans-serif;
    font-weight: normal; /*400*/
    font-size: 19px;
    color: var(--white);
    line-height: 1.5;
    text-decoration: none;
  }

/*HIGHTLIGHTED TEXTS*/
    .bolder-text {
    font-family: 'Comfortaa', sans-serif;
    font-weight: bolder; /*500*/
    font-size: 30px;
    color: var(--white);
    line-height: 1.5;
    text-decoration: none;
    
  }

/*TITLES*/
    .title-text {
    font-family: 'Handjet', sans-serif;
    font-weight: bold; /*700*/
    font-size: 79px;
    color: var(--white);
    letter-spacing: 30px;
    word-spacing: 10px;
    text-decoration: none;
  }

/*FOOTER TEXT*/
.footer-text {
    font-family: 'Comfortaa', sans-serif;
    font-weight: normal; /*400*/
    font-size: 15px;
    color: var(--white);
    text-align: center;
    line-height: 2;
    text-decoration: none;
  }

/*TOP RIGHT ICONS*/
.top-right-icons img {
  width: 56px;
height: 56px;
}
.top-right-icons {
  position: absolute;
  cursor: pointer;
  top: 40px;
  right: 40px;
  display: flex;
  gap: 75px
}

/*BACK BUTTON STYLING*/
.back-button {
  padding: 10px 15px;
  font-size: 16px;
  font-family: Comfortaa, sans-serif;
  background-color: transparent;
  border: none;
  cursor: pointer;
  justify-content: right;
  vertical-align: top;
  display: inline-block;
  position: absolute;
  top: 170px;
  right: 40px;
  text-decoration: none;
}

/*FOOTER TEXT*/
.footer-text {
  font-family: 'Comfortaa', sans-serif;
  font-weight: normal; /*400*/
  font-size: 15px;
  color: var(--white);
  text-align: center;
  line-height: 2;
  text-decoration: none;
}

/*DROPDOWN MENU STYLING*/ 
  /*NAVIGATION STYLING*/
  nav {
    background-color: transparent;
    color: #fff;
    padding: 0px;
  }
  /*DROPDOWN SECTION STYLING*/
  .dropdown {
    position: relative;
    display: flex;
    width: 300px;
    height: 48px;
    margin-left: 130px;
    margin-top: 10px

  
  }
  /* LOCATION IMAGE STYLING*/
  .dropdown img {
    width: 39px;
    height: 30px;
    border-radius: 0px;
    margin-top: 0px;
  }
  /*DROPDOWN BUTTON STYLING*/
  .dropbtn {
    background-color: var(--darkblue);
    color: #fff;
    padding: 10px;
    font-family: Comfortaa, Sans-serif;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px ;
    border-color: var(--gray);
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: center;
    width: 285px;
    height: 48px;
    padding-bottom: 20px;
    padding-top: 10px;


  }
  /*HIDDEN DROPDOWN CONTENT*/
  .dropdown-content {
    display: none;
    position: absolute;
    margin-top: 45px;
    background-color:var(--darkblue);
    min-width: 200px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1; /*PUTS THE MENU ON TOP OF THE MAIN BUTTON*/
  }
  /*CONTENT INSIDE THE DROPDOWN MENU*/
  .dropdown-content a {
    color: #fff;
    font-family: Comfortaa, sans-serif;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    width: 210px;
  }
  /*CHANGES COLOR ON HOVER*/
  .dropdown-content a:hover {
    background-color: var(--pink);
  }
  /*SHOWS THE DROPDOWN MENU ON HOVER*/
  .dropdown:hover .dropdown-content {
    display: block;
  } 

