/*CSS STYLESHEET FOR THE THREE SPECIFIC LOCATION PAGES*/

  /*MAIN IMAGE*/
.big-image {
  width: 600px;
  height: 784px;
  margin-left: 145px;
}

/*COORDINATES TEXT*/
.coordinates {
margin-left: 900px ;
font-family: 'Comfortaa', sans-serif;
font-size: 30px;
color: #878787;
text-decoration: none;
margin-top: -780px;
}

/*ABOUT TEXT*/
.intro-text {
  margin-left: 900px;
  margin-right: 100px;
  width: 1125px;
  height: 210px
}

/*MAP IMAGE*/
.map {
  margin-left: 900px;
  position: absolute;
}

/*LIGHT POLLUTION MAP IMAGE*/
.light-pollution-map {
  margin-left: 1385px;
  position: absolute;
}

/*FACTOR ICONS*/
.factor-icons {
  margin-left: 900px
}

/*REVIEW TITLE "REVIEWS"*/
.title {
  font-family: 'Comfortaa', sans-serif;
  color: var(--white);
  font-size: 49px;
  margin-left: 150px;
  text-decoration: underline; /*ADDS THE UNDERLINE*/
}

/*COMMENT FORMATING*/
.comments {
margin-left: 160px
}

/*ADD A COMMENT BUTTON*/
.add-a-comment {
margin-left: 1480px;
position:sticky
}

/*THE CAROUSEL IMPLEMENTATION DID NOT GO AS PLANNED, IT IS NOT PERFECT AT ALL,  BUT IT SHOWS THE BASIC FUNCTION AND THE ELEMENTS I WANTED THE USER TO SEE*/
/*CAROUSEL - FOLLOWED A YOUTUBE TUTORIAL: https://www.youtube.com/watch?v=rTB-UNl_B_Y*/
.container {
  width: 915px;
  height: 504px;
  position: flex;
  margin-left: 540px
}

.carousel {
  height: 504px; 
  position: relative;
  overflow: hidden;
}

.slider {
  height: 100%;
  display: flex;
  width: 913px;
  transition: all 0.4s;
}

.slider section {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.controls .arrow i {
  font-size: 40px;
  color: var(--white)
}

.arrow.left {
  left: 10px
}

.arrow.right {
  right: 10px
}
