/*CSS STYLESHEET WITH ONLY THE THINGS THAT APPEAR ON THE ERROR PAGE*/


.title-text {
    font-family: 'Handjet', sans-serif;
    font-weight: normal; /*400*/
    font-size: 79px;
    color: var(--white);
    letter-spacing: 30px;
    word-spacing: 10px;
    text-align: center;
    margin-top: 300px
  }

  .regular-text {
    font-family: 'Comfortaa', sans-serif;
    font-weight: normal; /*400*/
    font-size: 40px;
    color: var(--white);
    line-height: 1.5;
    text-align: center;
  }

  /*BACK BUTTON*/
.back-button {
    margin-top: 800px;
    margin-right: 750px;
    margin-bottom: 30px;
    text-align: center;
    }