
/*CSS STYLESHEET WITH ONLY THE THINGS THAT APPEAR ON THE HOME PAGE*/

/*IMPORTANT FACTOR WIDGETS/BUTTONS*/
.rounded-button1 {  
    background-color: transparent;
    border-color: var(--darkgray);
    border-style: hidden;
    cursor: pointer;
  }


/* BUTTON IMAGE SIZING*/
.resizable-image1 {
    width: 362px;
    height: 211px;
    background-color: transparent;
}

/*SUBPAGE BUTTONS*/
.rounded-button2 {  
    border-radius: 400px;
    margin-bottom: 72px;
    background-color: transparent;
    border-color: var(--darkgray);
    border-width: 0px;
    border-style: hidden;
    cursor: pointer;
    align-items: center;
  }
/* SUBPAGE BUTTON SIZING*/
.resizable-image2 {
    width: 510px;
    height: 200px;
    border-radius: 40px;
    background-color: transparent
}

/*IMPORTANT FACTOR INDICATOR BUTTONS*/
.button-container1 {
  display: flex;
  justify-content: center;
}
/*BUTTON SPACING*/
.button-container1 button {
  margin: 0 px;
  padding: 5px 37px;
}


/*SUBPAGE BUTTONS*/
.button-container2 {
  display: flex;
  justify-content: center;
}
/*BUTTON SPACING*/
.button-container2 button {
  margin: 0 0px;
  padding: 40px 53px;
}


.container {
  display: flex;
}


/*ABOUT TEXT BORDER*/
.intro-text {
  display: inline-block;
    width: 1400px;
  }
  .intro-text p {
  font-family: 'Comfortaa', sans-serif;
  font-weight: normal; /*400*/
  font-size: 19px;
  color: var(--white);
  line-height: 1.5;
  }


  /*SPOTIFY PLAYLIST*/
.spotify {
    display:inline-block;
    justify-content: right;
    width: 250px;
    vertical-align: top;
    margin-left: -10px;
  }
  
/*LIGHT POLLUTION MAP FORMATING*/
  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    }

  /*BACKGROUND FOR THE WIDGETS*/
  .background-widgets {
    width: 1840px;
    height: 855px;
    position: absolute;
    top: 690px;
    left: 130px;
    z-index: -1; /*MOVES THE IMAGE BEHIND WIDGETS*/
  }
